<tr id="<%= poop.id %>">
  <% if poop.poop_datetime.to_date == @today %>
    <td><h5><%= (@today).strftime("%A (Today)") %></h5></td>
      <td><h5><%= poop.poop_datetime.strftime("%I:%M %p") %></h5></td>
      <td><h5><%= poop.poop_quality %></h5></td>
      <td class="text-center"><button type="button" class="btn btn-sm btn-danger" id="delete-poop" data-id="<%= poop.id %>">X</button></td>
  <% else %>
    <td><h5><%= (poop.poop_datetime).strftime("%A") %></h5></td>
      <td><h5><%= poop.poop_datetime.strftime("%I:%M %p") %></h5></td>
      <td><h5><%= poop.poop_quality %></h5></td>
      <td class="text-center"><button type="button" class="btn btn-sm btn-danger" id="delete-poop" data-id="<%= poop.id %>">X</button></td>
  <% end %>
</tr>