<div class="well">

  <h3>Add a #2:</h3>
  <%= form_for @poop, remote: true do |f| %>

    <div class="field">
      <p><%= f.label :poop_datetime, "#2 Day/Time" %><br>
      <%#= f.text_field :poop_datetime %></p>
      <input type="text" id="datetime12" data-format="MM-DD-YYYY h:mm a" data-template="MM / DD / YYYY     hh : mm a" name="poop_datetime" value="<%= Time.now.strftime("%m-%d-%Y %I:%M %P")%>">
    </div>

    <div class="field">
      <p><%= f.label :poop_quality, "#2 Quality" %><br>
      <%= f.select :poop_quality, ["normal", "soft", "very soft", "liquid", "firm", "difficult to pass"] %></p>
    </div>
    <div class="actions">
      <%= f.hidden_field :pet_id, :value => @pet.id %>
    </div>

    <div class="actions">
      <br>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>

  <% end %>
</div>

<div id="create-poop"></div>

<table class="table table-bordered" id="poop-table">
  <tr>
    <th><h3>Day</h3></th>
    <th><h3>Time</h3></th>
    <th><h3>Quality</h3></th>
    <th><h3>Remove?</h3></th>
  </tr>

<% if @poops.count == 0 %>
  <tr>
    <td>No information available</td>
    <td>N/A</td>
    <td>N/A</td>
    <td>N/A</td>
  </tr>
<% elsif @poops %>
  <% @poops.reverse.each do |poop| %>
  <tr id="<%= poop.id %>">
    <% if poop.poop_datetime.to_date == @today %>
      <td><h5><%= (@today).strftime("%A (Today)") %></h5></td>
        <td><h5><%= poop.poop_datetime.strftime("%I:%M %p") %></h5></td>
        <td><h5><%= poop.poop_quality %></h5></td>
        <td><button type="button" class="btn btn-sm btn-danger" id="delete-poop" data-id="<%= poop.id %>">X</button></td>
    <% else %>
      <td><h5><%= (poop.poop_datetime).strftime("%A") %></h5></td>
        <td><h5><%= poop.poop_datetime.strftime("%I:%M %p") %></h5></td>
        <td><h5><%= poop.poop_quality %></h5></td>
        <td><button type="button" class="btn btn-sm btn-danger" id="delete-poop" data-id="<%= poop.id %>">X</button></td>
    <% end %>
  </tr>
  <% end %>
<% end %>


