  <h4><%= Date.current.strftime("%A (Today)") %></h4>
  <table class="table">
    <tr>
      <th>Time</th>
      <th>Poop Quality</th>
      <th>Remove?</th>
    </tr>
    <% if @poops %>
      <% @poops.each do |poop| %>
        <tr>
          <% if poop.poop_datetime.to_date == Date.current %>
            <td><%= poop.poop_datetime.strftime("%I:%M %p") %></td>
            <td><%= poop.poop_quality %></td>
            <td class="text-center"><%= link_to 'X', poop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
      <% end %>
</table>

<h4><%= (Date.current - 1).strftime("%A") %></h4>
  <table class="table">
    <tr>
    </tr>
    <% if @poops %>
      <% @poops.each do |poop| %>
        <tr>
          <% if poop.poop_datetime.to_date == Date.current - 1 %>
            <td><%= poop.poop_datetime.strftime("%I:%M %p") %></td>
            <td><%= poop.poop_quality %></td>
            <td class="text-center"><%= link_to 'X', poop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
      <% end %>
</table>

<h4><%= (Date.current - 2).strftime("%A") %></h4>
  <table class="table">
    <tr>
      <th>Time</th>
      <th>Poop Quality</th>
      <th>Remove?</th>
    </tr>
    <% if @poops %>
      <% @poops.each do |poop| %>
        <tr>
          <% if poop.poop_datetime.to_date == Date.current - 2 %>
            <td><%= poop.poop_datetime.strftime("%I:%M %p") %></td>
            <td><%= poop.poop_quality %></td>
            <td class="text-center"><%= link_to 'X', poop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
      <% end %>
</table>

<h4><%= (Date.current - 3).strftime("%A") %></h4>
  <table class="table">
    <tr>
      <th>Time</th>
      <th>Poop Quality</th>
      <th>Remove?</th>
    </tr>
    <% if @poops %>
      <% @poops.each do |poop| %>
        <tr>
          <% if poop.poop_datetime.to_date == Date.current - 3 %>
            <td><%= poop.poop_datetime.strftime("%I:%M %p") %></td>
            <td><%= poop.poop_quality %></td>
            <td class="text-center"><%= link_to 'X', poop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
      <% end %>
</table>

<h4><%= (Date.current - 4).strftime("%A") %></h4>
  <table class="table">
    <tr>
      <th>Time</th>
      <th>Poop Quality</th>
      <th>Remove?</th>
    </tr>
    <% if @poops %>
      <% @poops.each do |poop| %>
        <tr>
          <% if poop.poop_datetime.to_date == Date.current - 4 %>
            <td><%= poop.poop_datetime.strftime("%I:%M %p") %></td>
            <td><%= poop.poop_quality %></td>
            <td class="text-center"><%= link_to 'X', poop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
      <% end %>
</table>

<h4><%= (Date.current - 5).strftime("%A") %></h4>
  <table class="table">
    <tr>
      <th>Time</th>
      <th>Poop Quality</th>
      <th>Remove?</th>
    </tr>
    <% if @poops %>
      <% @poops.each do |poop| %>
        <tr>
          <% if poop.poop_datetime.to_date == Date.current - 5 %>
            <td><%= poop.poop_datetime.strftime("%I:%M %p") %></td>
            <td><%= poop.poop_quality %></td>
            <td class="text-center"><%= link_to 'X', poop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
      <% end %>
</table>

<h4><%= (Date.current - 6).strftime("%A") %></h4>
  <table class="table">
    <tr>
      <th>Time</th>
      <th>Poop Quality</th>
      <th>Remove?</th>
    </tr>
    <% if @poops %>
      <% @poops.each do |poop| %>
        <tr>
          <% if poop.poop_datetime.to_date == Date.current - 6 %>
            <td><%= poop.poop_datetime.strftime("%I:%M %p") %></td>
            <td><%= poop.poop_quality %></td>
            <td class="text-center"><%= link_to 'X', poop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
      <% end %>
</table>


<div class="well">
<p>
Add a poop:
  <%= form_for(@poop) do |f| %>
</p>

    <div class="field">
      <%= f.label :poop_datetime, "Poop Time" %><br>
      <%= f.text_field :poop_datetime %>
      <p>For example: "Today at 3pm" or "Yesterday at 9am"</p>
    </div>

    <div class="field">
      <%= f.label :poop_quality, "Poop Quality" %><br>
      <%= f.select :poop_quality, ["normal", "soft", "very soft", "liquid", "hard", "very hard"], prompt: "Select Quality" %>
    </div>

    <div class="actions">
      <%= f.hidden_field :pet_id, :value => @pet.id %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

  <% end %>
</div>
