<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @walker.name %>, you have a new client request!</h1>
    <p>
      <strong>Name:</strong> <%= @name %>
    </p>
    <p>
      <strong>Phone:</strong> <%= @phone %>
    </p>
    <p>
      <strong>Email:</strong> <%= @email %>
    </p>
    <p>
      <strong>Message: </strong> <%= @message %>
    </p>
    <p>-----------------------------</p>
    <p>Petsitfor.me</p>
  </body>
</html>