<div class="row">
  <div class="col-sm-12 col-xs-12"> 
    <div class="well">
    <p>
      <h1>
      Dog walker?
      </h1>
      <h4>Cat sitter? Armadillo wrangler?<br>
      </h4>
      <h5>
      Or just a regular old pet owner? Sign in to demo the app.
      </h5>
    </p>
    <br />
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div><%= f.hidden_field :email, value: "wiggles@wiggles.com" %></div>

        <div><%= f.hidden_field :password, value: "password"  %></div>

        <div><%= f.submit "Demo as a Walker", class: "btn-lg btn-primary", style: "color:white" %></div>
      <% end -%>

      <br />

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div><%= f.hidden_field :email, value: "erica@erica.com" %></div>

        <div><%= f.hidden_field :password, value: "password"  %></div>

        <div><%= f.submit "Demo as an Owner", class: "btn-lg btn-primary", style: "color:white" %></div>
      <% end -%>
    </div> 
  </div>
</div>

