<p>
  <strong>Behavior</strong>
  <div class="field">
  <%= form_for @pet do |pet_form| %>
    Dog Aggressive? <%= pet_form.check_box :dog_aggro? %><br>
    Human Aggressive? <%= pet_form.check_box :human_aggro? %><br><br>
    Other Behavior Notes:<br>
    <%= pet_form.text_area :behavior_notes %>
  <% end %>
  </div>
  
<p>
  <strong>Supply Locations</strong>
  <div class="field">
    <%= form_for @pet do |pet_form| %>
      <%= pet_form.text_area :supply %>
    <% end %>
  </div>
</p>
