<div class="row">
  <%= form_for(@pet) do |f| %>
    <% if @pet.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

        <ul>
        <% @pet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <div class="col-sm-6 col-xs-12">
    <div>
      <% if @pet.avatar.url.present? %>
        <div class="photo-sm">
          <%= image_tag(@pet.avatar.url)  %>
        </div>
      <% else %>
        <div class="photo-sm">
         <%= image_tag "dog_bounty.jpg" %>
        </div>
      <% end %>
      <br>
      <p><%= f.label "Upload a Photo" %></p>
      <%= f.file_field :avatar  %>
      <%= f.hidden_field :avatar_cache %>
    </div>
    <br>
    <div class="field">
      <p><%= f.label :name %><br>
      <%= f.text_field :name %></p>
    </div>
    <div class="field">
      <p><%= f.label :species %><br>
      <%= f.select :species, ["cat","dog","other"] %></p>
    </div>
    <div class="field">
      <p><%= f.label :size %><br>
      <%= f.select :size, ["extra small","small","medium","large","extra large"] %></p>
    </div>
    <div class="field">
      <p><%= f.label :allergies %><br>
      <%= f.text_field :allergies %></p>
    </div>
    <div class="field">
      <p><%= f.label :age %><br>
      <%= f.select :age, ["baby", "young", "adult", "older", "senior"] %></p>
    </div>
    <div class="field">
      <p><%= f.label :feeding %><br>
      <%= f.text_field :feeding %></p>
    </div>
    <div class="field">
      <p><strong>Notes from owner</strong><br>
      <%= f.text_area :notes %></p>
    </div>

  </div>

  <div class="col-sm-6 col-xs-12">
    <div class="field">
      <p><%= f.label :vet_id %><br>
      <%= f.collection_select :vet_id, Vet.all, :id, :all_details, prompt: "Select Your Vet" %></p>
    </div>

    <p><strong>Add a New Vet:</strong></p>
    
    <div class="field">
    <%= f.fields_for :vet, Vet.new do |vet_form| %>
      <p>Name
      <%= vet_form.text_field :name %></p>
      <p>Phone
      <%= vet_form.text_field :phone %></p>
      <p>Address
      <%= vet_form.text_field :address %></p>
    <% end %>
    </div>
    <br>

    <div class="field">
      <%= f.hidden_field :household_id, id: "household" %>
    </div>

    <% if @user.walker == true %>
      <div class="field">
        <p><strong>Behavior:</strong></p>
        <p>Dog Aggressive?
        <%= f.check_box :dog_aggro? %></p>
        <p>Human Aggressive?
        <%= f.check_box :human_aggro? %></p>
        <p>Other Behavior Notes:<br>
        <%= f.text_area :behavior_notes %></p>
      </div>
      
      <div class="field">
        <p><%= f.label "Supply Locations" %><br>
        <%= f.text_area :supply %></p>
      </div>
    <% end %>
    
    <div class="actions">
      <%= f.submit "Update", class: "btn btn-primary" %>
    </div>
  </div>
  <% end %>
</div>

