<div class="well">
  <%= form_for(@pet) do |f| %>
  <% if @pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% @pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :species %><br>
    <%= f.select :species, ["cat","dog","other"] %>
  </div>
  <div class="field">
    <%= f.label :photo %><br>
    <%= f.text_field :photo %>
  </div>
  <div class="field">
    <%= f.label :size %><br>
    <%= f.select :size, ["extra small","small","medium","large","extra large"] %>
  </div>
  <div class="field">
    <%= f.label :allergies %><br>
    <%= f.text_field :allergies %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.select :age, ["baby", "young", "adult", "older", "senior"] %>
  </div>
  <div class="field">
    <%= f.label :feeding %><br>
    <%= f.text_field :feeding %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_field :notes %>
  </div>
    <div class="field">
    <%= f.label :vet_id %><br>
    <%= f.collection_select :vet_id, Vet.all, :id, :all_details, prompt: "Select Your Vet" %>
  </div>
  Add a New Vet:
  <div class="field">
  <%= f.fields_for :vet, Vet.new do |vet_form| %>
    <%= vet_form.label :name, "Name" %>
    <%= vet_form.text_field :name %>
    <%= vet_form.label :phone, "Phone" %>
    <%= vet_form.text_field :phone %>
    <%= vet_form.label :address, "Address" %>
    <%= vet_form.text_field :address %>
  <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
