<h1>Listing pets</h1>

<table>
  <thead>
    <tr>
      <th>Species</th>
      <th>Name</th>
      <th>Photo</th>
      <th>Size</th>
      <th>Household</th>
      <th>Allergies</th>
      <th>Vet</th>
      <th>Age</th>
      <th>Feeding</th>
      <th>Notes</th>
      <th>Behavior</th>
      <th>Supply</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pets.each do |pet| %>
      <tr>
        <td><%= pet.species %></td>
        <td><%= pet.name %></td>
        <td><%= image_tag pet.photo %></td>
        <td><%= pet.size %></td>
        <td><%= pet.household_id %></td>
        <td><%= pet.allergies %></td>
        <% if pet.vet %>
          <td><%= pet.vet.name %></td>
        <% else %>
        <td><%= "No Vet Listed" %>
        <% end %>
        <td><%= pet.age %></td>
        <td><%= pet.feeding %></td>
        <td><%= pet.notes %></td>
        <td><%= link_to 'Show', pet %></td>
        <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
        <td><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back', :back %>
