<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-5 col-xs-12">
    <div class="well dog-stats">
      <div class="photo-lg"> 
        <% if @pet.avatar.url.present? %>
          <%= image_tag @pet.avatar_url.to_s %>
        <% else %>
          <%= image_tag "dog_bounty.jpg" %>
        <% end %>
      </div>
      <div class="links">
        <p><%= link_to 'Edit', edit_pet_path(@pet) %> | <%= link_to 'Remove Pet', @pet, method: :delete, data: { confirm: 'Are you sure?' } %> | 
        <%= link_to 'Back', :back %></p>
      </div>

      <h2>
        <%= link_to @pet.name, user_household_path(@pet.household.walker_id, @pet.household) %>
      </h2>

      <h5><strong>Household:</strong>
      <%= @pet.household.address %></h5>

      <h5><strong>Owner:</strong> <%= @pet.household.owner_name %></h5>

      <h5>
        <strong>Species:</strong>
        <%= @pet.species %>
      </h5>

      <h5>
        <strong>Size:</strong>
        <%= @pet.size %>
      </h5>

      <h5>
        <strong>Age:</strong>
        <%= @pet.age %>
      </h5>

      <h5>
        <strong>Feeding:</strong>
        <%= @pet.feeding %>
      </h5>

      <h5>
        <strong>Allergies:</strong>
        <%= @pet.allergies %>
      </h5>

      <h5>
        <strong>Vet:</strong>
        <% if @pet.vet %>
          <%= @pet.vet.name %>
          <%= @pet.vet.phone %>
          <%= @pet.vet.address %>
        <% else %>
          <%= "No Vet Listed" %>
        <% end %>
      </h5>

      <h5><strong>Notes From Owner:</strong>
        <%= @pet.notes %>
      </h5>

      <% if @user.walker == true %>
        <h5>
        <strong>Dog Aggressive:</strong> <%= @pet.dog_aggro %>
        </h5>
        <h5>
        <strong>Human Aggressive:</strong> <%= @pet.human_aggro %>
        </h5>
        <h5>
        <strong>Behavior Notes:</strong><br>
        <%= @pet.behavior_notes %>
        </h5>
        <h5>
        <strong>Supply Locations:</strong><br>
        <%= @pet.supply %>
        </h5>
      <% end %>

    </div>
  </div>

  <div class="col-sm-7 col-xs-12">
    <div class="well">
      <h2><%= @pet.name %> By The Numbers</h2>
      <%= render "poops/poop_chart" %>
    </div>
  </div><!-- col -->

</div><!-- row -->

