<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
<%= link_to "#{@pet.household.address}", user_household_path(@pet.household.walker_id, @pet.household) %>
</p>


<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Species:</strong>
  <%= @pet.species %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag @pet.photo %>
</p>

<p>
  <strong>Size:</strong>
  <%= @pet.size %>
</p>

<p>
  <strong>Allergies:</strong>
  <%= @pet.allergies %>
</p>

<p>
  <strong>Vet:</strong>
  <% if @pet.vet %>
    <%= @pet.vet.name %>
    <%= @pet.vet.phone %>
    <%= @pet.vet.address %>
  <% else %>
    <%= "No Vet Listed" %>
  <% end %>
</p>

<p>
  <strong>Age:</strong>
  <%= @pet.age %>
</p>

<p>
  <strong>Feeding:</strong>
  <%= @pet.feeding %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @pet.notes %>
</p>

<p>
  <strong>Behavior:</strong>
</p>

<p>
  <strong>Supply:</strong>
</p>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', :back %>
