<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-5 col-xs-12">
    <div class="photo-lg"> 
      <% if @pet.avatar.url.present? %>
        <%= image_tag @pet.avatar_url.to_s %>
      <% else %>
        <%= image_tag "dog_bounty.jpg" %>
      <% end %>
    </div>
    <div class="links">
      <%= link_to 'Edit', edit_pet_path(@pet) %> | <%= link_to 'Remove Pet', @pet, method: :delete, data: { confirm: 'Are you sure?' } %> | 
      <%= link_to 'Back', :back %>
    </div>
  </div>

  <div class="col-sm-7 col-xs-12">
    <div class="well">

    <h2><strong>Household:</strong>
    <%= link_to @pet.household.address, user_household_path(@pet.household.walker_id, @pet.household) %></h2>

    <p><strong>Owner:</strong> <%= @pet.household.owner_name %></p>

    <p>
      <strong>Name:</strong>
      <%= @pet.name %>
    </p>

    <p>
      <strong>Species:</strong>
      <%= @pet.species %>
    </p>

    <p>
      <strong>Size:</strong>
      <%= @pet.size %>
    </p>

    <p>
      <strong>Age:</strong>
      <%= @pet.age %>
    </p>

    <p>
      <strong>Feeding:</strong>
      <%= @pet.feeding %>
    </p>

    <p>
      <strong>Allergies:</strong>
      <%= @pet.allergies %>
    </p>

    <p>
      <strong>Vet:</strong>
      <% if @pet.vet %>
        <%= @pet.vet.name %>
        <%= @pet.vet.phone %>
        <%= @pet.vet.address %>
      <% else %>
        <%= "No Vet Listed" %>
      <% end %>
    </p>

      <strong>Notes:</strong>
      <%= @pet.notes %>
    </p>
  </div>
  </div>
</div>


