<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-5 col-xs-12">
    <div class="photo-lg"> 
      <% if @pet.avatar.url.present? %>
        <%= image_tag @pet.avatar_url.to_s %>
      <% else %>
        <%= image_tag "dog_bounty.jpg" %>
      <% end %>
    </div>
    <div class="links">
      <%= link_to 'Edit', edit_pet_path(@pet) %> | <%= link_to 'Remove Pet', @pet, method: :delete, data: { confirm: 'Are you sure?' } %> | 
      <%= link_to 'Back', :back %>
    </div>
  </div>

  <div class="col-sm-7 col-xs-12">
    <div class="well">

    <h2>
      <strong>Name: </strong><%= link_to @pet.name, user_household_path(@pet.household.walker_id, @pet.household) %>
    </h2>

    <p><strong>Household:</strong>
    <%= @pet.household.address %></p>

    <p><strong>Owner:</strong> <%= @pet.household.owner_name %></p>

    <p>
      <strong>Species:</strong>
      <%= @pet.species %>
    </p>

    <p>
      <strong>Size:</strong>
      <%= @pet.size %>
    </p>

    <p>
      <strong>Age:</strong>
      <%= @pet.age %>
    </p>

    <p>
      <strong>Feeding:</strong>
      <%= @pet.feeding %>
    </p>

    <p>
      <strong>Allergies:</strong>
      <%= @pet.allergies %>
    </p>

    <p>
      <strong>Vet:</strong>
      <% if @pet.vet %>
        <%= @pet.vet.name %>
        <%= @pet.vet.phone %>
        <%= @pet.vet.address %>
      <% else %>
        <%= "No Vet Listed" %>
      <% end %>
    </p>

      <strong>Owner Notes:</strong>
      <%= @pet.notes %>
    </p>

    <% if @user.walker == true %>
      <p>
      <strong>Dog Aggressive:</strong> <%= @pet.dog_aggro %>
      </p>
      <p>
      <strong>Human Aggressive:</strong> <%= @pet.human_aggro %>
      </p>
      <p>
      <strong>Behavior Notes:</strong><br>
      <%= @pet.behavior_notes %>
      </p>
      <p>
      <strong>Supply Locations:</strong><br>
      <%= @pet.supply %>
      </p>
    <% end %>

  </div>
  </div>
</div>

<% render "poops/poop_chart" %>

