<h2>Clients</h2>

<div class="panel-group" id="accordion">
  <% @user.households.each do |house| %>
    <div class="panel panel-default"> 
      <div class="panel-heading">
        <h5 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= house.id %>">
          <% if house.owner %>
            <h3><%= house.owner.name %></h3>
          <% else %>
            <h3><%= house.owner_name %></h3>
          <% end %>
          </a>
        </h5>
      </div>

      <div id="collapse<%= house.id %>" class="panel-collapse collapse">
        <div class="panel-body client">
          <h3><%= link_to house.address, user_household_path(@user.id, house) %>
          <small> | <%= link_to 'Edit Household Info', edit_user_household_path(@user.id, house) %> | <a id="pet-modal" data-target="#petModal" href="#" data-id="<%= house.id %>" data-value="<%= house.id %>">Add New Pet</a></h3> 
          <br>
          <div class="row">
            <% house.pets.each do |pet| %>
            <div class="col-sm-5 col-xs-12">
              <% if pet.avatar.url.present? %>
              <%= link_to image_tag(pet.avatar_url(:thumb)), pet_path(pet) %>
              <% else %>
              <%= link_to image_tag("thumb_dog_bounty.jpg"), pet_path(pet) %>
              <% end %>
              <br>
              <h4><%= link_to pet.name, pet_path(pet) %> | <small><%= link_to 'Edit Pet Info', edit_pet_path(pet) %></small></h4> 
              <br>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="modal fade" id="petModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Add a new pet</h4>
      </div>

      <div class="modal-body">
        <%= render 'pets/form' %>
      </div>

    </div>
  </div>
</div>

