<h2>Your Household</h2>
<p><small class="owner"><%= link_to 'Edit Household Info', edit_user_household_path(@user.household.walker_id, @user.household) %> | <a id="pet-modal" data-target="#petModal" href="#" data-id="<%= @user.household.id %>" data-value="<%= @user.household.id %>">Add New Pet</a></small></p>

<p><strong>Phone: </strong><%= @user.household.phone %></p>
<p><strong>Address:</strong> <%= @user.household.address %></p>

<p><strong>Pets:</strong></p>
<div class="row">
  <% @user.household.pets.each do |pet| %>
    <div class="col-sm-6 col-xs-12">
      <% if pet.avatar.url.present? %>
        <%= link_to image_tag(pet.avatar_url(:thumb)), pet_path(pet) %>
      <% else %>
        <%= link_to image_tag("thumb_dog_bounty.jpg"), pet_path(pet) %>
      <% end %>
      <p><%= link_to pet.name, pet_path(pet) %></p> 
      <p><small><%= link_to 'Edit Pet Info', edit_pet_path(pet) %></small></p>
      <br/>
    </div>
  <% end %>
</div>

<div class="modal fade" id="petModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Add a new pet</h4>
      </div>

      <div class="modal-body">
        <%= render 'pets/form' %>
      </div>

    </div>
  </div>
</div>
