<div class="row">
  <div class="col-sm-6 col-xs-12"> 
    <div class="well">
    <p>
      <h1>
      Dog walker?
      </h1>
      <h4>Cat sitter? Armadillo wrangler?<br>
      </h4>
      <h5>
      Or just a regular old pet owner? Sign in or create a new account to manage your pet care!
      </h5>
    </p>
        <br><div style="text-align:right"><button type="button" class="btn-lg btn-default" >
        <%= link_to "Sign up", new_registration_path(@user)%>
        </button></div>
        <br />
    </div> 
  </div>

  <div class="col-sm-6 col-xs-12"> 
    <div class="well">
      <h3>Looking for help with your pet? Check out some of our amazing pet sitters:</h3>
      <div id="accordion">
        <% @walkers.each do |walker| %>
          <h4 class="heading"><%= walker.name %></h4>
          <div>
            <p>Phone: <%= walker.phone %></p>
            <p>Email: <%= walker.email %></p>
            <% if walker.reviews.count > 0 %>
            <p>Sample Review:<br>
              <%= walker.reviews.first.content %></p>
            <% end %>
            <p>Click for more info about <%= link_to walker.name, walker %></p>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>

<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
  $(function() {
    $( "#accordion" ).accordion();
  });
</script>