<div class="row">
  <div class="col-xs-12">
    <p id="notice"><%= notice %></p>
    
    <h1 class="home-header">Dog walker?<span class="subheader1"> Cat sitter? </span><span class="subheader2">Armadillo wrangler?</span></h1>
    <h4>
      <%= link_to "Sign up", new_registration_path(@user), type: "button", class: "btn-lg btn-primary" %> <span class="spaced">or</span> <%= link_to "Check Out the Demo", new_user_session_path, type: "button", class: "btn-lg btn-primary" %>
    </h4>
  </div> 

  <div class="col-md-10 col-xs-12"> 
    <h1 class="home-header" style="padding-top:25px; margin-bottom: -5px;">Need help with your pet?</h1>
    <h3>Check out our amazing pet sitters!</h3>
  </div>
</div>

<div class="row contact-walker">
  <% @walkers.each do |walker| %>
    <div class="col-md-4">
      <div class="well walkers">
        <div class="row">
          <div class="col-md-4">
            <p><div class="photo-sm"><%= image_tag walker.avatar_url.to_s %></div></p>
            <h3><%= link_to walker.name, walker %></h3>
            <br>
            <button class="btn btn-primary" id="email-modal-button" data-target="#myModal" id="walker" data-id="<%= walker.id %>">Send email</button>
          </div>

          <div class="col-md-7 col-md-offset-1">
            <h4>Reviews</h4>
            <ul>
              <% Review.where(:walker_id => walker.id).each do |review| %>
                <li><%= review.content %> <p><% review.rating.times do |star| %><span class="star">&#9733;</span><%end%></p></li>
              <% end %>
            </ul> 
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Get in touch!</h4>
      </div>

      <div class="modal-body">
                
        <%= form_tag("/users/send_email", method: "post") do %>
          <div class="field">
            <p>Please fill out the form below.</p>
          </div>

          <input type="hidden" name="walker_id" id="walker" value=""/>

          <div class="field">
            <%= label_tag :name %><br>
            <%= text_field_tag :name, "Joe Owner" %>
          </div>

          <div class="field">
            <%= label_tag :phone %><br>
            <%= text_field_tag :phone, "555-555-5555" %>
          </div>

          <div class="field">
            <%= label_tag :email %><br>
            <%= text_field_tag :email, "joe@joe.com" %>
          </div>

          <div class="field">
            My pet is a: 
            <select>
              <option value="cat">cat</option>
              <option value="dog">dog</option>
              <option value="other">other</option>
            </select>
          </div>

          <div class="field">
            </strong>Message (optional)</strong><br/>
            <textarea rows="2" cols="50" type="text" name="text" id="text" placeholder="I want to hire you!"></textarea>
          </div>

          <div class="actions" id="send-email">
            <%= submit_tag("Send Email") %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>


