<div class="row">
  <div class="col-xs-12"> 
    <div class="jumbotron">
      <h1>Dog walker?</h1>
      <h3>Cat sitter? Armadillo wrangler? </h3>
      <h5>Or just a regular old pet owner? Sign in or create a new account to manage your pet care!</h5>
      <br />
        <p><%= link_to "Sign up", new_registration_path(@user), type: "button", class: "btn-lg btn-primary", style: "color:white" %> 
          or  
          <%= link_to "Check Out the Demo", new_user_session_path, type: "button", class: "btn-lg btn-primary", style: "color:white" %><p>
    </div> 
  </div>
</div>

<div class="row">
  <div class="col-xs-12"> 
    <p id="notice"><%= notice %></p>
    
    <div class="well">
      <h3>Looking for help with your pet? Click below to check out some of our amazing pet sitters:</h3>
      <div class="row" id="accordion">
        <% @walkers.each do |walker| %>
        <div class="col-xs-6 col-sm-3">
        <div class="panel panel-default"> 
          <div class="panel-heading">
          <h5 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= walker.id %>">
              <div class="walker-name">
                <p><div class="photo-sm">
                  <%= image_tag walker.avatar_url(:thumb) %>
                </div></p>
                <%= walker.name %>
              </div></a>
          </h5>
          </div>

          <div class="contact-walker panel-collapse collapse" id="collapse<%= walker.id %>">
            <div class="panel-body">
              <p><strong>Phone:  </strong><%= walker.phone %></p>
              <p><strong>Email:  </strong><%= walker.email %></p>
              <p><strong>Reviews:</strong></p>
                <ul>
                <% Review.where(:walker_id => walker.id).each do |review| %>
                  <li><%= review.content %></li>
                <% end %>
                </ul>
              <button class="btn btn-primary" id="email-modal-button" data-target="#myModal" id="walker" data-id="<%= walker.id %>">Send email</button>
              <br>
              <br>
              <p>Or click for more info about <%= link_to walker.name, walker %></p>
            </div>
          </div>

        </div>
        </div>
        <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Get in touch!</h4>
      </div>

      <div class="modal-body">
                
        <%= form_tag("/users/send_email", method: "post") do %>
          <div class="field">
            <p>Please fill out the form below.</p>
          </div>

          <input type="hidden" name="walker_id" id="walker" value=""/>

          <div class="field">
            <%= label_tag :name %><br>
            <%= text_field_tag :name, "Joe Owner" %>
          </div>

          <div class="field">
            <%= label_tag :phone %><br>
            <%= text_field_tag :phone, "555-555-5555" %>
          </div>

          <div class="field">
            <%= label_tag :email %><br>
            <%= text_field_tag :email, "joe@joe.com" %>
          </div>

          <div class="field">
            My pet is a: 
            <select>
              <option value="cat">cat</option>
              <option value="dog">dog</option>
              <option value="other">other</option>
            </select>
          </div>

          <div class="field">
            </strong>Message (optional)</strong><br/>
            <textarea rows="2" cols="50" type="text" name="text" id="text" placeholder="I want to hire you!"></textarea>
          </div>

          <div class="actions" id="send-email">
            <%= submit_tag("Send Email") %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>


