<h1>Users</h1>
<div id="accordion">
  <% @users.each do |user| %>
    <h3 class="heading"><%= user.name %></h3>
    <div>
      <p>Phone: <%= user.phone %></p>
      <p>Email: <%= user.email %></p>
      <p>Id: <%= user.id %></p>
      <p>Walker: <%= user.walker %></p>
    </div>
  <% end %>
</div>

<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
  $(function() {
    $( "#accordion" ).accordion();
  });
</script>