<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-sm-6 col-xs-12">
      <% if @user.walker == true || current_user == @user %>
      <div class="well">
        <div class="photo-lg">
        <%= image_tag @user.avatar_url.to_s %>
        </div>
        <h1><%= @user.name %></h1>
        <p><%= @user.phone %></p>
        <p><%= @user.email %></p>
      <% if @user.walker == false %>
        <p><%= @user.household.phone %></p>
        <p><%= @user.household.address %></p>
      <% end %>

      <% elsif current_user %>
        <div class="links">
          <%= link_to 'Edit Profile', edit_user_registration_path %> | 
          <% if @user.walker == true %>
            <%= link_to 'New Household', new_user_household_path(@user) %> | 
          <% end %>
          <%= link_to 'Back', :back %>
        </div>
      <% end %>
      </div>
    
      <% if current_user %>
        <% if @user.walker == true %>
          <%= render "appointments/schedule" %>
        <% else %>
          <%= render "appointments/appointments" %>
        <% end %>
      <% end %>
  </div>

  <div class="col-sm-6 col-xs-12">
    <% if current_user %>
      <% if @user.walker == true %>
        <div class="well">
          <%= render "clients" %>
        </div>
      <% else %>
        <div class="well">
          <%= render "owner" %>
        </div>
        <div class="well">
          <h2>Your Walker</h2>
          <p><%= image_tag @user.household.walker.avatar_url(:thumb) %></p>
          <p><%= @user.household.walker.name %></p>
          <p><%= @user.household.walker.phone %></p>
        </div>
      <% end %>
    <% end %>

    <% if @user.walker == true %>
      <div class="well">
        <h1>Reviews</h1>
        <%= render "reviews" %>
      </div>
    <% elsif current_user  %>
      <%= render "reviews/form" %>
    <% end %>
  </div>
</div>



