<p id="notice"><%= notice %></p>

<%= image_tag @user.avatar_url.to_s %>
<p><%= @user.name %></p>
<p><%= @user.phone %></p>
<p><%= @user.email %></p>

<p>
  <% @user.households.each do |house| %>
  <strong><%= house.owner_name %></strong><br>
  <%= link_to "#{house.address}", user_household_path(@user.id, house) %><br>
  <ul>
  <% house.pets.each do |pet| %>
    <li><%= link_to "#{pet.name}", pet_path(pet) %><br></li>
  <% end %>
  </ul>
<% end %>
</p>

<%= link_to 'Edit Profile', edit_user_registration_path %>
<%= link_to 'New Household', new_user_household_path(@user) %>
<%= link_to 'Back', :back %>
