<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-sm-6 col-xs-12">
      <% if @user.walker == true || current_user %>
      <div class="well">
        <div class="photo-lg">
        <%= image_tag @user.avatar_url.to_s %>
        </div>
        <h1><%= @user.name %></h1>
        <p><%= @user.email %></p>
        <p><%= @user.phone %></p>
      <% if @user.walker == false %>
        <p><%= @user.household.address %></p>
      <% end %>

        <% if current_user == @user %>
        <div class="links">
          <%= link_to 'Edit Profile', edit_user_registration_path %> | 
          <% if @user.walker == true %>
            <%= link_to 'New Household', new_user_household_path(@user) %> | 
          <% end %>
          <%= link_to 'Back', :back %>
        </div>
        <% end %>
      <% end %>
      </div>
    
      <% if current_user %>
        <% if @user.walker == true %>
          <%= render "appointments/appointments" %>
        <% else %>
          <%= render "appointments/schedule" %>
        <% end %>
      <% end %>
  </div>

  <div class="col-sm-6 col-xs-12">
    <% if current_user %>
      <% if @user.walker == true %>
        <div class="well">
          <%= render "clients" %>
        </div>
      <% else %>
        <div class="well">
          <%= render "owner" %>
        </div>

        <div class="well">
          <h2>Your Walker</h2>
          <p><%= image_tag @user.household.walker.avatar_url(:thumb) %></p>
          <% if @user.household.walker.id == 17 %>
            Please chose a walker below.
          <% else %>
            <p><%= @user.household.walker.name %></p>
            <p><%= @user.household.walker.phone %></p>
          <% end %>
          
          <%= form_tag(user_household_path(@user.household.walker_id, @user.household), :method => :put) do %>
            <div class="field">
              <%= label_tag "Chose a new walker" %><br>
              <%= collection_select :household, :walker_id, @walkers, :id, :name, prompt: "Select Walker" %>
            </div>

            <div class="actions">
              <%= submit_tag("Chose Walker") %>
            </div>
          <% end %>

        </div>
      <% end %>
    <% end %>

    <% if @user.walker == false %>
      <%= render "reviews/form" %>
    <% else %>     
      <div class="well well-lg">
        <h2>Reviews
        <button type="button" class="btn btn-danger pull-right" data-toggle="collapse" data-target="#reviews">
      Show
      </button>
      </h2>
        <% if user_signed_in? %>
          <div id="reviews" class="collapse">
        <% else %>
          <div id="reviews" class="collapse in">
        <% end %>
          <%= render "reviews" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

</div>
