<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-8 col-xs-12">
    <% if current_user %>
      <% if @user.walker == true %>
        <%= render "appointments/appointments" %>
      <% else %>
        <%= render "appointments/schedule" %>
      <% end %>
    <% end %>

    <% if current_user && @user.walker == true %>
      <div class="well">
        <%= render "clients" %>
      </div>
    <% elsif current_user && @user.walker == false %>
      <div class="well">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <h2>Your Walker</h2>
            <p><%= image_tag @user.household.walker.avatar_url(:thumb) %></p>
            <% if @user.household.walker.id == 17 %>
              Please chose a walker below.
            <% else %>
              <h3><%= @user.household.walker.name %></h3>
              <h5><%= @user.household.walker.email %></h5>
              <h5><%= @user.household.walker.phone %></h5>
            <% end %>
            <br>
            <%= form_tag(user_household_path(@user.household.walker_id, @user.household), :method => :put) do %>
              <div class="field">
                <p><%= label_tag "Choose a new walker:" %><br>
                <%= collection_select :household, :walker_id, @walkers, :id, :name, prompt: "Select Walker" %></p>
              </div>

              <div class="actions">
                <%= submit_tag "Choose Walker", class:"btn btn-primary" %>
              </div>
            <% end %>
          </div>

          <div class="col-md-6 col-xs-12">
            <%= render "reviews/form" %>
          </div>
        </div>
      </div>
    <% end %>

    <% unless @user.walker == false %>
      <div class="well well-lg">
        <h2>Reviews
          <button type="button" class="btn btn-primary pull-right" aria-expanded="false" data-toggle="collapse" data-target="#reviews">Hide</button>
        </h2>
          <div id="reviews" class="collapse in">
            <%= render "reviews" %>
          </div>
      </div>
    <% end %>
  </div>

  <div class="col-sm-4 col-xs-12">
    <% if @user.walker == true || current_user %>
      <div class="well">
        <div class="photo-lg">
        <%= image_tag @user.avatar_url.to_s %>
        </div>
        <h1><%= @user.name %></h1>
        <h4><%= @user.email %></h4>
        <h4><%= @user.phone %></h4>
      <% if @user.walker == false %>
        <h4><%= @user.household.address %></h4>
      <% end %>

      <% if current_user == @user %>
        <div class="links">
          <br>
          <p><%= link_to 'Edit Profile', edit_user_registration_path %> 
          <% if @user.walker == true %>
            | <%= link_to 'Add a New Client', new_user_household_path(@user) %>
          <% end %></p>
        </div>
      <% end %>
      </div>
    <% end %>

    <% if current_user && @user.walker == false %>
      <div class="well">
        <%= render "owner" %>
      </div>
    <% end %>

  </div>
</div>

