<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Let your client know</h4>
      </div>

      <div class="modal-body">
                
        <%= form_tag("/appointments/send_text", method: "post") do %>
          <div class="field">
            <%= label_tag :text, "Here is a standard message you can use or modify. Info from the check boxes will be added to the message." %><br>
            <%= text_area_tag :text, "#{appointment.pet.name} is set!" %>
          </div>

          <div class="field">
            <strong>Fed?</strong> <%= check_box_tag :fed? %>
          </div>

          <div class="field">
            <strong>Pee?</strong> <%= check_box_tag :pee? %>
          </div>

          <div class="field">
            <strong>Pooped?</strong> <%= check_box_tag :poop? %>
          </div>

          <div class="field">
            <%= fields_for :poop_id, Poop.new do |poop| %>
              <%= poop.label :poop_quality, "Poop Quality" %>
              <%= poop.select :poop_quality, ["liquid", "very soft", "soft", "normal", "hard", "very hard"] %>
            <% end %>
          </div>

          <div class="field">
            <%= hidden_field_tag :appointment_id, :value => appointment.id %>
          </div>

          <div class="actions">
            <%= submit_tag("Send Text") %>
          </div>

        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>