<div class="well">

  <%= form_for(@household) do |f| %>
  <% if @household.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@household.errors.count, "error") %> prohibited this household from being saved:</h2>

      <ul>
      <% @household.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :key_info %><br>
    <%= f.text_field :key_info %>
  </div>
  <div class="field">
    <%= f.hidden_field :walker_id, :value => params[:id] %>
  </div>

  Owner:
  <div class="field">
  <%= f.fields_for :owner, User.create do |owner_form| %>
    <%= owner_form.label :name, "Name" %>
    <%= owner_form.text_field :name %>
    <%= owner_form.label :phone, "Phone" %>
    <%= owner_form.text_field :phone %>
    <%= owner_form.label :email, "Email" %>
    <%= owner_form.text_field :email %><br />
  <%= owner_form.label :password, "New password" %>
    <%= owner_form.password_field :password, autofocus: true, autocomplete: "off", value: "password" %>
  <%= owner_form.label :password_confirmation, "Confirm new password" %><br />
    <%= owner_form.password_field :password_confirmation, autocomplete: "off", value: "password"  %>
  <% end %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>


<% end %>

</div>
