<h1>Listing households</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Key info</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @households.each do |household| %>
      <tr>
        <td><%= household.address %></td>
        <td><%= household.key_info %></td>
        <td><%= link_to 'Show', user_household_path(params[:user_id], household) %></td>
        <td><%= link_to 'Edit', edit_user_household_path(params[:user_id], household) %></td>
        <td><%= link_to 'Destroy', user_household_path(params[:user_id], household), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Household', new_user_household_path %>
<%= link_to 'Back', :back %>
