<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-5 col-xs-12">
  <div class="well">
    <h2><%= @household.address %></h4>

    <p>
      <strong>Owner Name:</strong>
      <%= @household.owner_name %>
    </p>

    <p>
      <strong>Key info:</strong>
      <%= @household.key_info %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= @household.phone %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @household.email %>
    </p>

    <h4>Pets:</h4>
      <% @household.pets.each do |pet| %>
        <p><%= image_tag pet.avatar_url(:thumb).to_s %>
        <%= link_to pet.name, pet_path(pet) %><p>
      <% end %>

      <%= link_to 'Edit', edit_user_household_path %> |
      <%= link_to 'Back', :back %>
  </div>
</div>

  <div class="col-sm-7 col-xs-12">
    <h3>Add a new pet to <%= @household.address %>:</h3>
    <%= render 'pets/form' %>
  </div>
