<p id="notice"><%= notice %></p>

<p>
  <strong>Owner Name:</strong>
  <%= @household.owner_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @household.address %>
</p>

<p>
  <strong>Key info:</strong>
  <%= @household.key_info %>
</p>

<ul>
  <% @household.pets.each do |pet| %>
  <li><%= link_to "#{pet.name}", pet_path(pet) %></li>
  <% end %>
</ul>

Add a new pet to <%= @household.address %>:
<%= render 'pets/form' %>


<%= link_to 'Edit', edit_user_household_path %> |
<%= link_to 'Back', :back %>
