<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @household.address %>
</p>

<p>
  <strong>Key info:</strong>
  <%= @household.key_info %>
</p>

<% @household.pets.each do |pet| %>
  <%= pet.name %>
  <% end %>

<%= render 'pets/form' %>


<%= link_to 'Edit', edit_user_household_path %> |
<%= link_to 'Back', user_households_path %>
